<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form th:object="${personne}" th:action="@{/form/create}" method="get">
        <input type="text" th:field="*{prenom}"/><br/>
        <input type="text" th:field="*{nom}"/><br/>
        <input type="submit" class="button" th:value="Save"/>
    </form>
</body>
</html>